.nav_btn {
    height: 40px;
    min-width: 40px;
    margin: 5px 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.nav_btn:hover {
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
.nav_btn a {
    padding: 5px;
    line-height: 40px;
    align-items: center;
    vertical-align: center;
    text-decoration: none;
}
.nav_btn_active {
    color: blue;
}